/**
 * @name Akali - Silent Asassin
 * @description This Shit was made because i was bored watching E3 TakeTwo BS and to keep myself from sleeping away, i started to do this. Took me about 50 Mins to make so dont expect a Pro Work
 * @author ♡Lisa~#0004
 * @version 1.0.0
 * @authorId 202740603790819328
 * @donate https://streamelements.com/sinonaim/tip
 * @source https://raw.githubusercontent.com/PrincessAkira/Green-Akali/main/Akali.theme.css
 * @updateUrl https://raw.githubusercontent.com/PrincessAkira/Green-Akali/main/Akali.theme.css
 */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

:root {
    --background-tertiary: transparent !important;
    --background-primary: transparent !important;
    --background-secondary: transparent !important;
    --background-tertiary: transparent !important;
    --background-secondary-alt: transparent !important;
    --background-mentioned: rgba(0, 255, 0, 0.281) !important;
    --info-warning-foreground: transparent !important;
    --text-muted: white !important;
    --channeltextarea-background: transparent !important;
    --scrollbar-auto-thumb: lightgreen !important;
    --brand-experiment: darkgreen !important;
    --channels-default: white !important;
    --scrollbar-thin-thumb: lightgreen !important;
}

body {
    background-color: transparent !important;
    font-family: 'Comfortaa', monospace !important;
}

.scrollerSpacer-avRLaA {
    height: 10px;
}

#app-mount {
    background-image: url(https://i.imgur.com/wFkwnZn.jpg) !important;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.group-spacing-16,
.groupStart-23k01U,
.contents-2mQqc9 {
    margin-top: 0px !important;
}

.container-1D34oG {
    background-color: transparent !important;
}

.form-2fGMdU {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
}

.scrollableContainer-2NUZem {
    color: white;
    width: 100%;
}

.channelTextArea-rNsIhG {
    margin-bottom: 9px;
    top: 5px;
    width: 100%;
    height: 100%;
}

.itemCard-v9viV7 {
    margin-top: 10px;
}

.scroller-2LSbBU {
    bottom: 5px;
    left: -1px;
}

.header-23xsNx {
    margin-bottom: 10px;
    margin-top: 10px;
}

.username-1A8OIy,
.title-eS5yk3 {
    animation: colorRotate 12s linear 0s infinite;
}

.container-2lgZY8,
.standardSidebarView-3F1I7i {
    background-color: rgba(0, 0, 0, 0.67);
}

.divider-3_HH5L {
    display: none;
}

.compact-T3H92H.wrapper-2a6GCs,
.cozy-3raOZG.wrapper-2a6GCs {
    padding-top: 0rem;
}

.message-2qnXI6:hover,
.wrapper-2a6GCs:hover {
    background-color: rgba(0, 0, 0, 0.6) !important;
}

/* SUPPORTED PLUGINS -> HideChannels */
.sidebar-2K8pFh.hideElement .container-3baos1 {
    position: absolute;
    overflow: hidden;
}

.sidebar-2K8pFh.hideElement .container-3baos1,
.sidebar-2K8pFh.hideElement .container-3baos1:before {
    background-color: transparent !important;
    border-radius: 0;
    box-shadow: none !important;
}

.popoutRight-1veHKi.noArrow-2foL9g {
    overflow: hidden;
}

.wrapper-2qzCYF {
    background-color: none;
}

.sidebar-2K8pFh,
.guilds-1SWlCJ {
    border: 2px solid lightgreen;
    border-right: 0;
    border-radius: 0 !important;
}

.nowPlayingColumn-2sl4cE,
.membersWrap-2h-GB4 {
    border-left: 2px solid lightgreen;
}

.scroller-2ZPeAD {
    border: 0;
}

.container-1D34oG {
    border: 2px solid lightgreen;
    border-radius: 0 !important;
}

.container-1r6BKw.themed-ANHk51 {
    border-bottom: 2px solid lightgreen;
    border-radius: 0 !important;
}

.tutorialContainer-2sGCg9 {
    margin-top: 5px;
}

.title-29uC1r {
    font-size: 20px;
    color: lightgreen !important;
}

.container-2Pjhx-:hover {
    border: 0;
    box-shadow: 0;
}

.container-2Pjhx- {
    transition: background-color .6s;
    margin-top: 2px;
}

.wordmarkWindows-1v0lYD,
.wordmark-2iDDfm {
    display: none;
}

.nowPlayingColumn-2sl4cE,
.container-1r6BKw.themed-ANHk51 {
    backdrop-filter: blur(4px);
}

.fontSize16Padding-3Wk7zP,
.nowPlayingColumn-2sl4cE {
    text-align: center;
    color: lightgreen;
    font-size: 17px;
}

.cooldownWrapper-3joyFc,
.typing-2GQL18,
.base-gE7OpD {
    text-align: center;
    font-size: 12px;
}

.wrapper-3D2qGf:hover {
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 13px lightgreen;
}

.containerDefault-3tr_sE {
    padding-top: 4px;
}

.header-2V-4Sw {
    border-bottom: lightgreen 2px solid;
}

.wrapper-3D2qGf {
    background-color: rgba(0, 0, 0, 0.6) !important;
    border: 2px solid lightgreen;
    transition: box-shadow .6s;
}

.inset-3sAvek {
    text-align: left;
    background-color: rgba(0, 0, 0, 0.6) !important;
}

.container-3baos1,
.form-2fGMdU {
    border-top: 2px solid lightgreen;
    border-radius: 0 !important;
    background-color: rgba(0, 0, 0, 0.4);
}

.bar-2Qqk5Z {
    background-color: gray !important;
}

.barFill-23-gu- {
    background-color: green;
}

.unread-1xRYoj {
    background-color: rgba(0, 0, 0, 0.67);
    opacity: 100%;
    border: lightgreen 2px solid;
}

.header-2RyJ0Y {
    color: green;
    text-align: center;
    text-decoration: underline green;
}

.chat-3bRxxu {
    border: 2px solid lightgreen;
    border-radius: 0 !important;
}

.bd-button {
    background-color: darkgreen;
}

.content-3QAtGj {
    color: white;
}

.headerText-2F0828,
.name-uJV0GL {
    color: lightgreen;
}

/*
*
* Animation Section
*
*/

@keyframes colorRotate {
    from {
        color: rgb(255, 0, 0);
    }

    16.6% {
        color: rgb(255, 0, 255);
    }

    33.3% {
        color: orange;
    }

    50% {
        color: rgb(0, 255, 255);
    }

    66.6% {
        color: rgb(0, 255, 0);
    }

    83.3% {
        color: rgb(255, 255, 0);
    }

    to {
        color: rgb(255, 0, 0);
    }
}